<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="home.css">
	<title>U.F.U.</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<h1 id="title">U.F.U.</h1>
	<img id="logo" src="resources/logo.png">
</head>
<body>
	<div class="container">
		<h2>Choose Your Situation</h2>
		<p>Click on the button that mostly resembles your situation for an idea of how to resolve the issue.</p>            
	<table class="table">
		<thead>
			<tr>
				<th>Circumstance</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<button id="btn" type="button" class="btn btn-primary btn-xxl"><a href="file:///Users/taneataylor/Documents/GitHub/UFU/templates/injury.html">Injury</a></button>
				</td>
				<td>
					<button id="btn" type="button" class="btn btn-primary btn-xxl"><a href="file:///Users/taneataylor/Documents/GitHub/UFU/templates/robbery.html">Robbery</a></button>
				</td>
			</tr>
			<tr>
				<td>
					<div class="btn-group">
						<button id="btn" type="button" class="btn btn-primary"><a href="file:///Users/taneataylor/Documents/GitHub/UFU/templates/drugs.html">Drugs</a></button>
						<button id="btn" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"> <a href="file:///Users/taneataylor/Documents/GitHub/UFU/templates/badtrip.html">Bad Trip</a></a></li>
							<li><a href="#"><a href="file:///Users/taneataylor/Documents/GitHub/UFU/templates/addiction.html">Addiction</a></a></li>
						</ul>
					</div>
				</td>
				<td>
					<div class="btn-group">
						<button id="btn" type="button" class="btn btn-primary"><a href="file:///Users/taneataylor/Documents/GitHub/UFU/templates/alcohol.html">Alcohol</a></button>
						<button id="btn" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"><a href="file:///Users/taneataylor/Documents/GitHub/UFU/templates/toodrunk.html">Too Drunk</a></a></li>
							<li><a href="#"><a href="file:///Users/taneataylor/Documents/GitHub/UFU/templates/alcoholpos.html">Alcohol Posioning</a></a></li>
						
							<li><a href="#"><a href="file:///Users/taneataylor/Documents/GitHub/UFU/templates/addiction.html">Addiction</a></a></li>
						</ul>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<button id="btn" type="button" class="btn btn-primary btn-xxl"><a href="file:///Users/taneataylor/Documents/GitHub/UFU/templates/stalking.html">Stalking</a></button>
				</td>
				<td>
					<button id="btn" type="button" class="btn btn-primary btn-xxl"><a href="file:///Users/taneataylor/Documents/GitHub/UFU/templates/sexualassault.html">Sexual Assualt</a></button>
				</td>
			</tr>
</body>
</html>